.layout {
  @include flex(space-between, flex-start);

  &_left,
  &_right {
    max-width: calc(50% - 10px);
    flex: 1;
  }

  &_right-title {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
  }
}